@import "../../vars.scss";

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  padding: 15px 30px;
  &__left {
    display: flex;
  }
  &-logo {
    display: flex;
    position: relative;
    &-img {
      width: 50px;
      height: 50px;
      filter: drop-shadow(0 0 7px#20bbc6);
    }
    &-title {
      position: absolute;
      top: -10px;
      left: 35px;
      z-index: -1;

      font-size: $semiFontSize;
    }
    &-subtitle {
      font-size: 30px;
      margin: 10px 0 0 10px;
      font-weight: $semiBoldFont;
    }
  }

  &-bigLogo {
    display: flex;
    align-items: center;
    position: relative;
    &-img {
      width: 150px;
      height: 150px;
      filter: drop-shadow(0 0 7px#20bbc6);
    }
    &-title {
      position: absolute;
      top: -40px;
      left: 90px;
      z-index: -1;

      font-size: 65px;
    }
    &-subtitle {
      font-size: 80px;
      margin-left: 10px;
      font-weight: $semiBoldFont;
    }
  }

  &__navbar {
    display: flex;
    align-items: center;
    padding-left: 20px;
    &-list {
      position: relative;
      font-size: $normalFontSize;
      letter-spacing: 1px;
      padding: 0 15px;
      .favorites__count {
        width: 22px;
        height: 22px;
        background: $activeTextColor;
        opacity: 0.9;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $smallFontSize;

        position: absolute;
        top: 0;
        right: 0;
      }
      &-link {
        color: $whiteColor;
        text-decoration: none;
        &:hover {
          color: $activeTextColor;
        }
      }
    }
  }

  &__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    align-items: center;
    justify-items: center;
    &-search {
      svg {
        font-size: 22px;
        cursor: pointer;
        &:hover {
          color: $activeTextColor;
        }
      }
      &-show {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        z-index: 2;
        &-icon__search {
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
        }
        &-input {
          background: $darkColor;
          border: none;
          padding: 12px 45px;
          color: $whiteColor;
          width: 270px;
        }
        &-icon__close {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          font-size: 22px;
        }
      }
    }

    &-login {
      svg {
        font-size: 22px;
        cursor: pointer;
        margin-right: 7px;
      }
      &-link {
        color: $whiteColor;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        &:hover {
          text-decoration: underline;
        }
        p {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.fixed__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background: rgba(24, 41, 54, 0.62);
  animation: showHeader 0.5s ease;
}

// Burger
.burger {
  display: none;
}
.burger__menu {
  display: none;
}

// Media
@media screen and (max-width: $breakpoint992) {
  .header__navbar {
    display: none;
    padding-left: 0;
  }
  .header {
    position: relative;
    padding: 15px 20px;
  }
  .burger__menu-content__navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    &-list {
      font-size: $semiFontSize;
      margin: 10px 0 !important;
      text-transform: uppercase;
    }
  }

  // Burger
  .burger {
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    display: block;
    height: 20px;
    width: 30px;
    cursor: pointer;
    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background: $whiteColor;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &:before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      position: absolute;
      top: 9px;
      right: 0;
      width: 100%;
      background: $whiteColor;
      height: 2px;
      transform: scale(1);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
  }

  .burger__close {
    &:before {
      background: $whiteColor;
      transform: rotate(45deg);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      top: 8px;
    }

    &:after {
      background: $whiteColor;
      transform: rotate(-45deg);
      bottom: 10px;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    & span {
      transform: scale(0);
    }
  }

  // Burger menu
  .burger__menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;

    display: block;
    width: 300px;
    height: 100vh;
    pointer-events: all;
    background: $darkColor;

    animation: fade 0.2s linear;
  }
}

@media screen and (max-width: $breakpoint576) {
  .header__right-search-show-input {
    width: 200px;
  }
  .header__right-login-link p span {
    display: none;
  }
}

@media screen and (max-width: $breakpoint420) {
  .header__right-search-show-input {
    width: 170px;
  }
  .header-logo-img {
    width: 40px;
    height: 40px;
  }
  .header-logo-title {
    top: -7px;
    left: 23px;
    font-size: 20px;
  }
  .header-logo-subtitle {
    font-size: 20px;
    margin: 0 0 0 7px;
  }
  .burger__menu {
    width: 100%;
  }
}

@media screen and (max-width: $breakpoint320) {
  .search__menu-list__desc {
    max-width: 160px;
  }
  .search__menu-list__desc h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

// Animations
@keyframes showHeader {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    width: 0px;
  }

  100% {
    width: 300px;
  }
}
